.benefits {
	background: url("../img/benefits-bg.jpg") no-repeat;
	background-size: cover;
	@include sm-d {
		background: none;
	}
	&__title-one {
		margin-top: 52px;
		@include sm-d {
			margin-top: 0;
		}
	}
	&__way {
		margin-top: 112px;
		display: flex;
		@include sm-d {
			margin-top: 60px;
			flex-direction: column;
		}
	}
	&__box {
		flex: 1 1 33.333%;
		position: relative;
		background: rgba(255, 255, 255, 0.5);
		box-shadow: 0px 14px 50px 5px rgba(178, 200, 200, 0.1);
		backdrop-filter: blur(40px);
		border-radius: 15px;
		margin-right: 30px;
		padding: 55px 30px 55px 34px;
		&:last-child {
			margin-right: 0;
		}
		@include md-d {
			margin-right: 15px;
		}
		@include sm-d {
			margin-right: 0;
			margin-bottom: 40px;
			padding: 35px 18px 40px 18px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__box-img {
		position: absolute;
		top: -30px;
		left: -5px;
		@include sm-d {
			top: -35px;
			svg {
				max-width: 64px;
			}
		}
	}
	&__box-title {
		font-weight: 600;
		font-size: 16px;
		line-height: 165%;
		color: $colorH1;
	}
	&__box-text {
		margin-top: 15px;
		font-weight: 500;
		font-size: 16px;
		line-height: 165%;
	}
	&__title-two {
		margin-top: 150px;
		@include sm-d {
			margin-top: 80px;
		}
	}
	&__content {
		margin-top: 21px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include sm-d {
			flex-direction: column;
		}
	}
	&__item {
		margin-top: 50px;
		display: flex;
		flex: 0 1 31%;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@include sm-d {
			margin-top: 30px;
		}
	}
	&__item-img {
		svg {
			width: 77px;
			height: 77px;
			@include sm-d {
				height: 48px;
			}
		}
		svg path {
			fill: $accent;
		}
	}
	&__item-title {
		font-weight: 600;
		font-size: 16px;
		line-height: 165%;
		margin-top: 21px;
		color: $colorH1;
		@include sm-d {
			margin-top: 21px;
			font-size: 14px;
			line-height: 150%;
		}
	}
	&__item-text {
		font-weight: 500;
		font-size: 16px;
		line-height: 165%;
		margin-top: 15px;
		@include sm-d {
			margin-top: 11px;
			font-size: 12px;
		}
	}

	&__numbers {
		margin-top: 71px;
		background: rgba(255, 255, 255, 0.35);
		box-shadow: 0px 14px 50px 5px rgba(178, 200, 200, 0.1);
		backdrop-filter: blur(40px);
		border-radius: 15px;
		display: flex;
		@include sm-d {
			margin-top: 50px;
			flex-direction: column;
			align-items: center;
		}
	}
	&__numbers-img {
		svg path {
			fill: $accent;
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 1 33.333%;
		margin: 40px 0px 34px 0px;
		border-right: 4px solid #ecf3f3;
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		&:last-child {
			border-right: none;
		}
		@include sm-d {
			padding-bottom: 31px;
			border-right: none;
			max-width: 194px;
			border-bottom: 4px solid #ecf3f3;
			text-align: center;
			margin: 30px 0px 30px 0px;
			&:first-child {
				margin-top: 49px;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	&__buttons {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		.btn {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			@include sm-d {
				margin-right: 0;
				margin-top: 10px;
			}
		}
		@include sm-d {
			flex-direction: column;
			margin-top: 15px;
			align-items: center;
		}
	}
}
