.footer {
	margin-top: 100px;
	background: url("../img/footer.png") no-repeat;
	background-size: cover;
	padding: 194px 0px 45px 0px;
	@include md-d {
		background-image: none;
		background-color: $accent;
		padding: 47px 0px 52px 0px;
	}

	h3 {
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
		color: #fafafa;
		margin-bottom: 27px;
	}
	a {
		color: #fafafa;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		@include md-d {
			flex-direction: column;
		}
	}
	&__logo {
		@include lg-d {
			display: none;
		}
	}
	&__nav {
	}
	&__nav-wrapper {
		display: flex;
	}
	&__confid-one {
		@include md-d {
			display: none;
		}
	}
	&__confid-two {
		display: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 25px;
		color: #ffffff;
		@include md-d {
			display: block;
		}
	}
	&__column {
		margin-right: 46px;
		&:last-child {
			margin-right: 0;
		}
		li {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		a {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		img {
			margin-right: 19px;
		}
		@include md-d {
			margin-top: 50px;
		}
	}
	&__social {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include md-d {
			margin-top: 50px;
		}
	}
	&__social-wrapper {
		display: flex;
		a {
			margin-right: 21px;
			margin-bottom: 41px;
			svg {
				height: 40px;
				width: 40px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__remark {
		color: #fafafa;
		@include md-d {
			font-size: 12px;
			line-height: 15px;
		}
	}
}
