//Close acordeon
$accordeonWidth: 790px; //With accordeon --- Длина акордеона
$accordeonPadding: 24px 67px 24px 67px; //Padding accordeon --- Внутренние отступы
$accordeonRadius: 15px; //Border radius
$accordeonColorMain: #3f5858; //Text color
$accordeonColorBg: rgba(255, 255, 255, 0.5); // Bg color
//Open acordeon
$acordeonMainColor: $accent;
$openAcordeonTextColor: #6b7575;
$openAcordeonBgColor: rgba(255, 255, 255, 0.5);
.question {
	margin-top: 150px;
	background: url("../img/answers-bg.jpg") no-repeat;
	background-size: cover;

	@include md-d {
		margin-top: 70px;
	}
	&__acordeon {
		margin-top: 83px;
		@include md-d {
			margin-top: 30px;
		}
	}
	&__container {
		max-width: $accordeonWidth;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	&__title {
		position: relative;
		color: $accordeonColorMain;
		border-radius: $accordeonRadius;
		padding: $accordeonPadding;
		background: $accordeonColorBg;
		text-align: left;
		cursor: pointer;
		//text settings
		font-weight: 500;
		font-size: 20px;
		line-height: 25px;
		//any settings
		box-shadow: 0px 14px 50px 5px rgba(178, 200, 200, 0.1);
		backdrop-filter: blur(40px);
		transition: all 0.2s linear;
		@include md-d {
			font-size: 16px;
			line-height: 20px;
			padding: 17px 50px 17px 25px;
		}
		&.active {
			color: $acordeonMainColor;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			box-shadow: none;
		}
	}
	&__icon {
		position: absolute;
		width: 40px;
		height: 40px;
		background: transparent;
		right: 0px;
		top: 37px;
		transform: translate(-50%, -50%) rotate(0deg);
		cursor: pointer;
		z-index: 100;
		transition: 0.2s;
		@include md-d {
			right: -20px;
			top: 40%;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			display: block;
			border-right: 3px solid $accent;
			border-bottom: 3px solid $accent;
			width: 17px;
			height: 17px;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&.clicked {
			transform: translate(-50%, -50%) rotate(360deg);
			background: transparent;
		}
	}
	&__content {
		display: none;
		padding: 0px 33px;
		margin-bottom: 10px;
		padding: 0px 100px 25px 67px;
		padding-left: 67px;
		padding-bottom: 25px;
		overflow: hidden;
		transition: 0.2s ease-out;
		color: $openAcordeonTextColor;
		font-size: 16px;
		line-height: 28px;
		background: $openAcordeonBgColor;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		backdrop-filter: blur(40px);
		@include md-d {
			font-size: 14px;
			line-height: 22px;
			padding: 0px 20px 17px 25px;
		}
	}
	&__button {
		margin-top: 50px;
		display: flex;
		justify-content: center;
		a {
			margin-right: 31px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__down-title {
		margin-top: 150px;
		margin-bottom: 15px;
	}
	&__allies {
		margin-top: 80px;
		display: flex;
		justify-content: space-between;
	}
}
