@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

h1 {
	font-weight: bold;
	// font-size: 35px;
	@include adaptive-font(35, 20);
	line-height: 41px;
	letter-spacing: 0.015em;
	@include xl {
		font-size: 35px;
	}
	@include sm-d {
		line-height: 26px;
	}
}

h2 {
	font-weight: bold;
	// font-size: 35px;
	@include adaptive-font(35, 20);
	line-height: 130%;
	letter-spacing: 0.015em;
	@include xl {
		font-size: 35px;
	}
}

.adittional-title {
	white-space: nowrap;
	text-align: center;
	position: relative;
	font-weight: bold;
	font-size: 30px;
	line-height: 130%;
	letter-spacing: 0.015em;
	margin: 0 auto;
	color: $colorH1;
	&::before {
		content: "";
		display: block;
		position: absolute;
		border-bottom: solid 4px $accent;
		height: 0px;
		width: 157px;
		left: 0px;
		top: 50%;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		border-bottom: solid 4px $accent;
		height: 0px;
		width: 157px;
		right: 0px;
		top: 50%;
	}
}
