.container {
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 10px;
}

body {
	overflow-x: hidden;
	position: relative;
	height: 100%;
}

section {
	scroll-margin: 150px;
}
.question__down-title {
	scroll-margin: 150px;
}
